{
  "presets": [
  	["es2015", { "modules": false }],
  	"stage-0", 
  	"react"
  ],
  "plugins": ["react-hot-loader/babel"],
  "comments": false,
  "env":{
    "production":{
      "presets":["react-optimize"]
    }
  }
}
