.parent{
	display:flex;
	align-items:center;
	justify-content:center;
	margin-top:20px;
	border: 2px solid #999;
	padding:10px;
	.child{
		padding: 20px;
		border: 2px solid #999;
		background-color: #336699;
	}
}